{
  "openapi": "3.0.0",
  "info": {
    "title": "Squad API",
    "version": "0.14.0",
    "description": "API for managing Squad resources"
  },
  "servers": [
    {
      "url": "https://api.meetsquad.ai",
      "description": "Production server"
    },
    {
      "url": "https://api.meetsquad.ai",
      "description": "Staging server"
    },
    {
      "url": "https://dev.api.meetsquad.ai",
      "description": "Development server"
    }
  ],
  "paths": {
    "/organisations/{orgId}/workspaces/{workspaceId}/outcomes": {
      "post": {
        "summary": "Create a new outcome",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "description": "Organization ID",
            "example": "a5f3c6e1-9d20-4f7b-8e31-d09a2b63c184",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "description": "Workspace ID",
            "example": "c0e195d9-b918-4a3a-bd8b-f730361d044f",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "Title of the outcome",
                    "example": "Increase User Engagement"
                  },
                  "description": {
                    "type": "string",
                    "description": "Detailed description of the outcome",
                    "example": "We aim to increase daily active users by 25% in Q3"
                  },
                  "priority": {
                    "type": "number",
                    "description": "Priority level of the outcome",
                    "example": 1
                  },
                  "trend": {
                    "type": "number",
                    "description": "Trend indicator for the outcome",
                    "example": 0
                  },
                  "analyticEvents": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of analytic events associated with the outcome",
                    "example": [
                      "user_signup",
                      "feature_usage"
                    ]
                  },
                  "hideContent": {
                    "type": "boolean",
                    "description": "Whether the outcome content should be hidden",
                    "example": false
                  },
                  "ownerId": {
                    "type": "string",
                    "description": "ID of the outcome owner",
                    "example": "d4e71c2b-a498-42af-b7f5-69de06a0d7c4"
                  }
                },
                "required": [
                  "title",
                  "description",
                  "priority",
                  "trend",
                  "analyticEvents",
                  "hideContent"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Unique identifier for the outcome",
                          "example": "7b9e5d2c-f314-48a9-be56-9843a2f6c019"
                        },
                        "title": {
                          "type": "string",
                          "description": "Title of the outcome",
                          "example": "Increase User Engagement"
                        },
                        "description": {
                          "type": "string",
                          "description": "Detailed description of the outcome",
                          "example": "We aim to increase daily active users by 25% in Q3"
                        },
                        "priority": {
                          "type": "number",
                          "description": "Priority level of the outcome",
                          "example": 1
                        },
                        "trend": {
                          "type": "number",
                          "description": "Trend indicator for the outcome",
                          "example": 0
                        },
                        "analyticEvents": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "List of analytic events associated with the outcome",
                          "example": [
                            "user_signup",
                            "feature_usage"
                          ]
                        },
                        "hideContent": {
                          "type": "boolean",
                          "description": "Whether the outcome content should be hidden",
                          "example": false
                        },
                        "ownerId": {
                          "type": "string",
                          "description": "ID of the outcome owner",
                          "example": "d4e71c2b-a498-42af-b7f5-69de06a0d7c4"
                        },
                        "createdAt": {
                          "type": "string",
                          "description": "Creation timestamp",
                          "example": "2025-02-09T17:35:46Z"
                        },
                        "updatedAt": {
                          "type": "string",
                          "description": "Last update timestamp",
                          "example": "2025-02-09T17:35:46Z"
                        }
                      },
                      "required": [
                        "id",
                        "title",
                        "description",
                        "priority",
                        "trend",
                        "analyticEvents",
                        "hideContent",
                        "createdAt",
                        "updatedAt"
                      ],
                      "description": "Outcome data"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "description": "Response containing a single outcome"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "INVALID_REQUEST"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "One or more fields are invalid"
                        },
                        "fields": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "List of field names that are missing or invalid",
                          "example": [
                            "title",
                            "description"
                          ]
                        },
                        "validationErrors": {
                          "type": "object",
                          "additionalProperties": {},
                          "description": "Detailed validation error information for each invalid field",
                          "example": {
                            "invalidFields": {
                              "title": {
                                "type": "too_small",
                                "message": "Title must be at least 3 characters long",
                                "path": [
                                  "title"
                                ]
                              },
                              "deadline": {
                                "type": "invalid_date",
                                "message": "Deadline must be a valid date in the future",
                                "path": [
                                  "deadline"
                                ]
                              }
                            }
                          }
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Bad Request - Invalid input parameters or missing required fields"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "User is unauthenticated"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Unauthorized - Missing or invalid authentication token"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "User is unauthorised"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Forbidden - Insufficient permissions to access this resource"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "INTERNAL_SERVER_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "An unexpected error occurred on the server"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Internal Server Error - An unexpected error occurred on the server"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List outcomes",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "description": "Organization ID",
            "example": "a5f3c6e1-9d20-4f7b-8e31-d09a2b63c184",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "description": "Workspace ID",
            "example": "c0e195d9-b918-4a3a-bd8b-f730361d044f",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for the outcome",
                            "example": "7b9e5d2c-f314-48a9-be56-9843a2f6c019"
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the outcome",
                            "example": "Increase User Engagement"
                          },
                          "description": {
                            "type": "string",
                            "description": "Detailed description of the outcome",
                            "example": "We aim to increase daily active users by 25% in Q3"
                          },
                          "priority": {
                            "type": "number",
                            "description": "Priority level of the outcome",
                            "example": 1
                          },
                          "trend": {
                            "type": "number",
                            "description": "Trend indicator for the outcome",
                            "example": 0
                          },
                          "analyticEvents": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "List of analytic events associated with the outcome",
                            "example": [
                              "user_signup",
                              "feature_usage"
                            ]
                          },
                          "hideContent": {
                            "type": "boolean",
                            "description": "Whether the outcome content should be hidden",
                            "example": false
                          },
                          "ownerId": {
                            "type": "string",
                            "description": "ID of the outcome owner",
                            "example": "d4e71c2b-a498-42af-b7f5-69de06a0d7c4"
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "Creation timestamp",
                            "example": "2025-02-09T17:35:46Z"
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "Last update timestamp",
                            "example": "2025-02-09T17:35:46Z"
                          }
                        },
                        "required": [
                          "id",
                          "title",
                          "description",
                          "priority",
                          "trend",
                          "analyticEvents",
                          "hideContent",
                          "createdAt",
                          "updatedAt"
                        ]
                      },
                      "description": "Array of outcomes"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "description": "Response containing an array of outcomes"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "User is unauthenticated"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Unauthorized - Missing or invalid authentication token"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "User is unauthorised"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Forbidden - Insufficient permissions to access this resource"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "NOT_FOUND"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "The requested resource was not found"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Not Found - The requested resource does not exist"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "INTERNAL_SERVER_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "An unexpected error occurred on the server"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Internal Server Error - An unexpected error occurred on the server"
                }
              }
            }
          }
        }
      }
    },
    "/organisations/{orgId}/workspaces/{workspaceId}/outcomes/{outcomeId}": {
      "get": {
        "summary": "Get an outcome by ID",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "description": "Organization ID",
            "example": "a5f3c6e1-9d20-4f7b-8e31-d09a2b63c184",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "description": "Workspace ID",
            "example": "c0e195d9-b918-4a3a-bd8b-f730361d044f",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "outcomeId",
            "required": true,
            "description": "Outcome ID",
            "example": "7b9e5d2c-f314-48a9-be56-9843a2f6c019",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/OutcomeRelationshipsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Unique identifier for the outcome",
                          "example": "7b9e5d2c-f314-48a9-be56-9843a2f6c019"
                        },
                        "title": {
                          "type": "string",
                          "description": "Title of the outcome",
                          "example": "Increase User Engagement"
                        },
                        "description": {
                          "type": "string",
                          "description": "Detailed description of the outcome",
                          "example": "We aim to increase daily active users by 25% in Q3"
                        },
                        "priority": {
                          "type": "number",
                          "description": "Priority level of the outcome",
                          "example": 1
                        },
                        "trend": {
                          "type": "number",
                          "description": "Trend indicator for the outcome",
                          "example": 0
                        },
                        "analyticEvents": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "List of analytic events associated with the outcome",
                          "example": [
                            "user_signup",
                            "feature_usage"
                          ]
                        },
                        "hideContent": {
                          "type": "boolean",
                          "description": "Whether the outcome content should be hidden",
                          "example": false
                        },
                        "ownerId": {
                          "type": "string",
                          "description": "ID of the outcome owner",
                          "example": "d4e71c2b-a498-42af-b7f5-69de06a0d7c4"
                        },
                        "createdAt": {
                          "type": "string",
                          "description": "Creation timestamp",
                          "example": "2025-02-09T17:35:46Z"
                        },
                        "updatedAt": {
                          "type": "string",
                          "description": "Last update timestamp",
                          "example": "2025-02-09T17:35:46Z"
                        }
                      },
                      "required": [
                        "id",
                        "title",
                        "description",
                        "priority",
                        "trend",
                        "analyticEvents",
                        "hideContent",
                        "createdAt",
                        "updatedAt"
                      ],
                      "description": "Outcome data"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "description": "Response containing a single outcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "User is unauthenticated"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Unauthorized - Missing or invalid authentication token"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "User is unauthorised"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Forbidden - Insufficient permissions to access this resource"
                }
              }
            }
          },
          "404": {
            "description": "Outcome not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "NOT_FOUND"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "The requested resource was not found"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Not Found - The requested resource does not exist"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "INTERNAL_SERVER_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "An unexpected error occurred on the server"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Internal Server Error - An unexpected error occurred on the server"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update an outcome",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "description": "Organization ID",
            "example": "a5f3c6e1-9d20-4f7b-8e31-d09a2b63c184",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "description": "Workspace ID",
            "example": "c0e195d9-b918-4a3a-bd8b-f730361d044f",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "outcomeId",
            "required": true,
            "description": "Outcome ID",
            "example": "7b9e5d2c-f314-48a9-be56-9843a2f6c019",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "Title of the outcome",
                    "example": "Increase User Engagement"
                  },
                  "description": {
                    "type": "string",
                    "description": "Detailed description of the outcome",
                    "example": "We aim to increase daily active users by 25% in Q3"
                  },
                  "priority": {
                    "type": "number",
                    "description": "Priority level of the outcome",
                    "example": 1
                  },
                  "trend": {
                    "type": "number",
                    "description": "Trend indicator for the outcome",
                    "example": 0
                  },
                  "analyticEvents": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of analytic events associated with the outcome",
                    "example": [
                      "user_signup",
                      "feature_usage"
                    ]
                  },
                  "hideContent": {
                    "type": "boolean",
                    "description": "Whether the outcome content should be hidden",
                    "example": false
                  },
                  "ownerId": {
                    "type": "string",
                    "description": "ID of the outcome owner",
                    "example": "d4e71c2b-a498-42af-b7f5-69de06a0d7c4"
                  }
                },
                "required": [
                  "title",
                  "description",
                  "priority",
                  "trend",
                  "analyticEvents",
                  "hideContent"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Unique identifier for the outcome",
                          "example": "7b9e5d2c-f314-48a9-be56-9843a2f6c019"
                        },
                        "title": {
                          "type": "string",
                          "description": "Title of the outcome",
                          "example": "Increase User Engagement"
                        },
                        "description": {
                          "type": "string",
                          "description": "Detailed description of the outcome",
                          "example": "We aim to increase daily active users by 25% in Q3"
                        },
                        "priority": {
                          "type": "number",
                          "description": "Priority level of the outcome",
                          "example": 1
                        },
                        "trend": {
                          "type": "number",
                          "description": "Trend indicator for the outcome",
                          "example": 0
                        },
                        "analyticEvents": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "List of analytic events associated with the outcome",
                          "example": [
                            "user_signup",
                            "feature_usage"
                          ]
                        },
                        "hideContent": {
                          "type": "boolean",
                          "description": "Whether the outcome content should be hidden",
                          "example": false
                        },
                        "ownerId": {
                          "type": "string",
                          "description": "ID of the outcome owner",
                          "example": "d4e71c2b-a498-42af-b7f5-69de06a0d7c4"
                        },
                        "createdAt": {
                          "type": "string",
                          "description": "Creation timestamp",
                          "example": "2025-02-09T17:35:46Z"
                        },
                        "updatedAt": {
                          "type": "string",
                          "description": "Last update timestamp",
                          "example": "2025-02-09T17:35:46Z"
                        }
                      },
                      "required": [
                        "id",
                        "title",
                        "description",
                        "priority",
                        "trend",
                        "analyticEvents",
                        "hideContent",
                        "createdAt",
                        "updatedAt"
                      ],
                      "description": "Outcome data"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "description": "Response containing a single outcome"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "INVALID_REQUEST"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "One or more fields are invalid"
                        },
                        "fields": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "List of field names that are missing or invalid",
                          "example": [
                            "title",
                            "description"
                          ]
                        },
                        "validationErrors": {
                          "type": "object",
                          "additionalProperties": {},
                          "description": "Detailed validation error information for each invalid field",
                          "example": {
                            "invalidFields": {
                              "title": {
                                "type": "too_small",
                                "message": "Title must be at least 3 characters long",
                                "path": [
                                  "title"
                                ]
                              },
                              "deadline": {
                                "type": "invalid_date",
                                "message": "Deadline must be a valid date in the future",
                                "path": [
                                  "deadline"
                                ]
                              }
                            }
                          }
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Bad Request - Invalid input parameters or missing required fields"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "User is unauthenticated"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Unauthorized - Missing or invalid authentication token"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "User is unauthorised"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Forbidden - Insufficient permissions to access this resource"
                }
              }
            }
          },
          "404": {
            "description": "Outcome not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "NOT_FOUND"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "The requested resource was not found"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Not Found - The requested resource does not exist"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "INTERNAL_SERVER_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "An unexpected error occurred on the server"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Internal Server Error - An unexpected error occurred on the server"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an outcome",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "description": "Organization ID",
            "example": "a5f3c6e1-9d20-4f7b-8e31-d09a2b63c184",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "description": "Workspace ID",
            "example": "c0e195d9-b918-4a3a-bd8b-f730361d044f",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "outcomeId",
            "required": true,
            "description": "Outcome ID",
            "example": "7b9e5d2c-f314-48a9-be56-9843a2f6c019",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Success message",
                          "example": "Outcome deleted successfully"
                        }
                      },
                      "required": [
                        "message"
                      ],
                      "description": "Success message data"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "description": "Response containing a success message"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "User is unauthenticated"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Unauthorized - Missing or invalid authentication token"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "User is unauthorised"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Forbidden - Insufficient permissions to access this resource"
                }
              }
            }
          },
          "404": {
            "description": "Outcome not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "NOT_FOUND"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "The requested resource was not found"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Not Found - The requested resource does not exist"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "INTERNAL_SERVER_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "An unexpected error occurred on the server"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Internal Server Error - An unexpected error occurred on the server"
                }
              }
            }
          }
        }
      }
    },
    "/onboard": {
      "post": {
        "summary": "Create a new organization with workspace and outcomes",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Name of the organization to create",
                    "example": "Acme Corporation"
                  },
                  "description": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Description of the organization for generating workspace and outcomes",
                    "example": "A technology company focused on AI solutions for enterprise customers"
                  }
                },
                "required": [
                  "name",
                  "description"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Organization, workspace, and outcomes created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "workspace": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Unique identifier for the workspace",
                          "example": "c0e195d9-b918-4a3a-bd8b-f730361d044f"
                        },
                        "name": {
                          "type": "string",
                          "description": "Name of the workspace",
                          "example": "Acme Corporation"
                        },
                        "description": {
                          "type": "string",
                          "description": "Description of the workspace",
                          "example": "Main workspace for Acme Corporation"
                        },
                        "organisationId": {
                          "type": "string",
                          "description": "ID of the organization that owns this workspace",
                          "example": "a5f3c6e1-9d20-4f7b-8e31-d09a2b63c184"
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "description",
                        "organisationId"
                      ]
                    },
                    "outcomes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for the outcome",
                            "example": "7b9e5d2c-f314-48a9-be56-9843a2f6c019"
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the outcome",
                            "example": "Increase User Engagement"
                          },
                          "description": {
                            "type": "string",
                            "description": "Detailed description of the outcome",
                            "example": "We aim to increase daily active users by 25% in Q3"
                          },
                          "workspaceId": {
                            "type": "string",
                            "description": "ID of the workspace this outcome belongs to",
                            "example": "c0e195d9-b918-4a3a-bd8b-f730361d044f"
                          },
                          "organisationId": {
                            "type": "string",
                            "description": "ID of the organization that owns this outcome",
                            "example": "a5f3c6e1-9d20-4f7b-8e31-d09a2b63c184"
                          }
                        },
                        "required": [
                          "id",
                          "title",
                          "description",
                          "workspaceId",
                          "organisationId"
                        ]
                      }
                    },
                    "organisation": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Unique identifier for the organization",
                          "example": "a5f3c6e1-9d20-4f7b-8e31-d09a2b63c184"
                        },
                        "name": {
                          "type": "string",
                          "description": "Name of the organization",
                          "example": "Acme Corporation"
                        }
                      },
                      "required": [
                        "id",
                        "name"
                      ]
                    }
                  },
                  "required": [
                    "workspace",
                    "outcomes",
                    "organisation"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "409": {
            "description": "Organization name already exists"
          }
        }
      }
    },
    "/organisations/{orgId}/onboard": {
      "put": {
        "summary": "Update an existing organization, recreate workspace and outcomes",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "description": "Organization ID",
            "example": "a5f3c6e1-9d20-4f7b-8e31-d09a2b63c184",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Name of the organization to create",
                    "example": "Acme Corporation"
                  },
                  "description": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Description of the organization for generating workspace and outcomes",
                    "example": "A technology company focused on AI solutions for enterprise customers"
                  }
                },
                "required": [
                  "name",
                  "description"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Organization updated, workspace and outcomes recreated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "workspace": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Unique identifier for the workspace",
                          "example": "c0e195d9-b918-4a3a-bd8b-f730361d044f"
                        },
                        "name": {
                          "type": "string",
                          "description": "Name of the workspace",
                          "example": "Acme Corporation"
                        },
                        "description": {
                          "type": "string",
                          "description": "Description of the workspace",
                          "example": "Main workspace for Acme Corporation"
                        },
                        "organisationId": {
                          "type": "string",
                          "description": "ID of the organization that owns this workspace",
                          "example": "a5f3c6e1-9d20-4f7b-8e31-d09a2b63c184"
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "description",
                        "organisationId"
                      ]
                    },
                    "outcomes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for the outcome",
                            "example": "7b9e5d2c-f314-48a9-be56-9843a2f6c019"
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the outcome",
                            "example": "Increase User Engagement"
                          },
                          "description": {
                            "type": "string",
                            "description": "Detailed description of the outcome",
                            "example": "We aim to increase daily active users by 25% in Q3"
                          },
                          "workspaceId": {
                            "type": "string",
                            "description": "ID of the workspace this outcome belongs to",
                            "example": "c0e195d9-b918-4a3a-bd8b-f730361d044f"
                          },
                          "organisationId": {
                            "type": "string",
                            "description": "ID of the organization that owns this outcome",
                            "example": "a5f3c6e1-9d20-4f7b-8e31-d09a2b63c184"
                          }
                        },
                        "required": [
                          "id",
                          "title",
                          "description",
                          "workspaceId",
                          "organisationId"
                        ]
                      }
                    },
                    "organisation": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Unique identifier for the organization",
                          "example": "a5f3c6e1-9d20-4f7b-8e31-d09a2b63c184"
                        },
                        "name": {
                          "type": "string",
                          "description": "Name of the organization",
                          "example": "Acme Corporation"
                        }
                      },
                      "required": [
                        "id",
                        "name"
                      ]
                    }
                  },
                  "required": [
                    "workspace",
                    "outcomes",
                    "organisation"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "404": {
            "description": "Organization not found"
          }
        }
      }
    },
    "/organisations/{orgId}/workspaces/{workspaceId}/feedback": {
      "post": {
        "summary": "Create new feedback",
        "description": "Creates a new feedback item in the specified workspace",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "description": "Organization ID",
            "example": "a5f3c6e1-9d20-4f7b-8e31-d09a2b63c184",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "description": "Workspace ID",
            "example": "c0e195d9-b918-4a3a-bd8b-f730361d044f",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "Feedback",
                      "Bug",
                      "FeatureRequest"
                    ]
                  },
                  "source": {
                    "type": "string"
                  },
                  "feedback": {
                    "type": "string"
                  },
                  "ownerId": {
                    "type": "string"
                  },
                  "organisationId": {
                    "type": "string"
                  },
                  "workspaceId": {
                    "type": "string"
                  },
                  "id": {
                    "type": "string"
                  },
                  "seen": {
                    "type": "boolean"
                  },
                  "hideContent": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "title",
                  "description",
                  "type",
                  "source",
                  "feedback",
                  "organisationId",
                  "workspaceId"
                ],
                "description": "Request schema for creating feedback"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Feedback created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "Feedback",
                            "Bug",
                            "FeatureRequest"
                          ]
                        },
                        "source": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "feedback": {
                          "type": "string"
                        },
                        "seen": {
                          "type": "boolean"
                        },
                        "hideContent": {
                          "type": "boolean"
                        },
                        "ownerId": {
                          "type": "string"
                        },
                        "organisationId": {
                          "type": "string"
                        },
                        "workspaceId": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "type",
                        "source",
                        "title",
                        "description",
                        "feedback",
                        "seen",
                        "hideContent",
                        "organisationId",
                        "workspaceId",
                        "createdAt",
                        "updatedAt"
                      ],
                      "description": "Feedback data"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "description": "Response containing a single feedback item"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "INVALID_REQUEST"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "One or more fields are invalid"
                        },
                        "fields": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "List of field names that are missing or invalid",
                          "example": [
                            "title",
                            "description"
                          ]
                        },
                        "validationErrors": {
                          "type": "object",
                          "additionalProperties": {},
                          "description": "Detailed validation error information for each invalid field",
                          "example": {
                            "invalidFields": {
                              "title": {
                                "type": "too_small",
                                "message": "Title must be at least 3 characters long",
                                "path": [
                                  "title"
                                ]
                              },
                              "deadline": {
                                "type": "invalid_date",
                                "message": "Deadline must be a valid date in the future",
                                "path": [
                                  "deadline"
                                ]
                              }
                            }
                          }
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Bad Request - Invalid input parameters or missing required fields"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "User is unauthenticated"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Unauthorized - Missing or invalid authentication token"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "User is unauthorised"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Forbidden - Insufficient permissions to access this resource"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "INTERNAL_SERVER_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "An unexpected error occurred on the server"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Internal Server Error - An unexpected error occurred on the server"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List feedback",
        "description": "Lists all feedback in the specified workspace",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "description": "Organization ID",
            "example": "a5f3c6e1-9d20-4f7b-8e31-d09a2b63c184",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "description": "Workspace ID",
            "example": "c0e195d9-b918-4a3a-bd8b-f730361d044f",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "Feedback",
                              "Bug",
                              "FeatureRequest"
                            ]
                          },
                          "source": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "feedback": {
                            "type": "string"
                          },
                          "seen": {
                            "type": "boolean"
                          },
                          "hideContent": {
                            "type": "boolean"
                          },
                          "ownerId": {
                            "type": "string"
                          },
                          "organisationId": {
                            "type": "string"
                          },
                          "workspaceId": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "type",
                          "source",
                          "title",
                          "description",
                          "feedback",
                          "seen",
                          "hideContent",
                          "organisationId",
                          "workspaceId",
                          "createdAt",
                          "updatedAt"
                        ],
                        "description": "Feedback data from a user"
                      },
                      "description": "Array of feedback items"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "description": "Response containing an array of feedback items"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "User is unauthenticated"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Unauthorized - Missing or invalid authentication token"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "User is unauthorised"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Forbidden - Insufficient permissions to access this resource"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "INTERNAL_SERVER_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "An unexpected error occurred on the server"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Internal Server Error - An unexpected error occurred on the server"
                }
              }
            }
          }
        }
      }
    },
    "/organisations/{orgId}/workspaces/{workspaceId}/feedback/{feedbackId}": {
      "get": {
        "summary": "Get feedback by ID",
        "description": "Retrieves a specific feedback by ID",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "description": "Organization ID",
            "example": "a5f3c6e1-9d20-4f7b-8e31-d09a2b63c184",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "description": "Workspace ID",
            "example": "c0e195d9-b918-4a3a-bd8b-f730361d044f",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "feedbackId",
            "required": true,
            "description": "Feedback ID",
            "example": "d4e71c2b-a498-42af-b7f5-69de06a0d7c4",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/FeedbackRelationshipsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "Feedback",
                            "Bug",
                            "FeatureRequest"
                          ]
                        },
                        "source": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "feedback": {
                          "type": "string"
                        },
                        "seen": {
                          "type": "boolean"
                        },
                        "hideContent": {
                          "type": "boolean"
                        },
                        "ownerId": {
                          "type": "string"
                        },
                        "organisationId": {
                          "type": "string"
                        },
                        "workspaceId": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "type",
                        "source",
                        "title",
                        "description",
                        "feedback",
                        "seen",
                        "hideContent",
                        "organisationId",
                        "workspaceId",
                        "createdAt",
                        "updatedAt"
                      ],
                      "description": "Feedback data"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "description": "Response containing a single feedback item"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "User is unauthenticated"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Unauthorized - Missing or invalid authentication token"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "User is unauthorised"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Forbidden - Insufficient permissions to access this resource"
                }
              }
            }
          },
          "404": {
            "description": "Feedback not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "NOT_FOUND"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "The requested resource was not found"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Not Found - The requested resource does not exist"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "INTERNAL_SERVER_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "An unexpected error occurred on the server"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Internal Server Error - An unexpected error occurred on the server"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete feedback",
        "description": "Deletes a specific feedback by ID",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "description": "Organization ID",
            "example": "a5f3c6e1-9d20-4f7b-8e31-d09a2b63c184",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "description": "Workspace ID",
            "example": "c0e195d9-b918-4a3a-bd8b-f730361d044f",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "feedbackId",
            "required": true,
            "description": "Feedback ID",
            "example": "d4e71c2b-a498-42af-b7f5-69de06a0d7c4",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Feedback deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Success message",
                          "example": "Feedback deleted successfully"
                        }
                      },
                      "required": [
                        "message"
                      ],
                      "description": "Success message data"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "description": "Response containing a success message"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "User is unauthenticated"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
[...]
