{
  "openapi": "3.0.0",
  "info": {
    "title": "Squad API",
    "version": "2.1.0",
    "description": "API for managing Squad resources"
  },
  "servers": [
    {
      "url": "https://api.meetsquad.ai",
      "description": "Production server"
    },
    {
      "url": "https://uat.api.meetsquad.ai",
      "description": "Staging server"
    },
    {
      "url": "https://dev.api.meetsquad.ai",
      "description": "Development server"
    }
  ],
  "paths": {
    "/organisations/{orgId}/workspaces/{workspaceId}/outcomes": {
      "post": {
        "summary": "Create a new outcome",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "description": "Organization ID",
            "example": "a5f3c6e1-9d20-4f7b-8e31-d09a2b63c184",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "description": "Workspace ID",
            "example": "c0e195d9-b918-4a3a-bd8b-f730361d044f",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOutcomePayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/OutcomeWithRelationships"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "description": "Response containing a single outcome"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "INVALID_REQUEST"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "One or more fields are invalid"
                        },
                        "fields": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "List of field names that are missing or invalid",
                          "example": [
                            "title",
                            "description"
                          ]
                        },
                        "validationErrors": {
                          "type": "object",
                          "additionalProperties": {},
                          "description": "Detailed validation error information for each invalid field",
                          "example": {
                            "invalidFields": {
                              "title": {
                                "type": "too_small",
                                "message": "Title must be at least 3 characters long",
                                "path": [
                                  "title"
                                ]
                              },
                              "deadline": {
                                "type": "invalid_date",
                                "message": "Deadline must be a valid date in the future",
                                "path": [
                                  "deadline"
                                ]
                              }
                            }
                          }
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Bad Request - Invalid input parameters or missing required fields"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "User is unauthenticated"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Unauthorized - Missing or invalid authentication token"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "User is unauthorised"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Forbidden - Insufficient permissions to access this resource"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "INTERNAL_SERVER_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "An unexpected error occurred on the server"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Internal Server Error - An unexpected error occurred on the server"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List all outcomes",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "description": "Organization ID",
            "example": "a5f3c6e1-9d20-4f7b-8e31-d09a2b63c184",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "description": "Workspace ID",
            "example": "c0e195d9-b918-4a3a-bd8b-f730361d044f",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Outcome"
                      },
                      "description": "Array of outcomes"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "description": "Response containing an array of outcomes"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "User is unauthenticated"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Unauthorized - Missing or invalid authentication token"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "User is unauthorised"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Forbidden - Insufficient permissions to access this resource"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "INTERNAL_SERVER_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "An unexpected error occurred on the server"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Internal Server Error - An unexpected error occurred on the server"
                }
              }
            }
          }
        }
      }
    },
    "/organisations/{orgId}/workspaces/{workspaceId}/outcomes/{outcomeId}": {
      "get": {
        "summary": "Get an outcome by ID",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "description": "Organization ID",
            "example": "a5f3c6e1-9d20-4f7b-8e31-d09a2b63c184",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "description": "Workspace ID",
            "example": "c0e195d9-b918-4a3a-bd8b-f730361d044f",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "outcomeId",
            "required": true,
            "description": "Outcome ID",
            "example": "7b9e5d2c-f314-48a9-be56-9843a2f6c019",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/OutcomeRelationshipsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/OutcomeWithRelationships"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "description": "Response containing a single outcome"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "INVALID_REQUEST"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "One or more fields are invalid"
                        },
                        "fields": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "List of field names that are missing or invalid",
                          "example": [
                            "title",
                            "description"
                          ]
                        },
                        "validationErrors": {
                          "type": "object",
                          "additionalProperties": {},
                          "description": "Detailed validation error information for each invalid field",
                          "example": {
                            "invalidFields": {
                              "title": {
                                "type": "too_small",
                                "message": "Title must be at least 3 characters long",
                                "path": [
                                  "title"
                                ]
                              },
                              "deadline": {
                                "type": "invalid_date",
                                "message": "Deadline must be a valid date in the future",
                                "path": [
                                  "deadline"
                                ]
                              }
                            }
                          }
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Bad Request - Invalid input parameters or missing required fields"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "User is unauthenticated"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Unauthorized - Missing or invalid authentication token"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "User is unauthorised"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Forbidden - Insufficient permissions to access this resource"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Outcome does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "NOT_FOUND"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "The requested resource was not found"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Not Found - The requested resource does not exist"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "INTERNAL_SERVER_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "An unexpected error occurred on the server"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Internal Server Error - An unexpected error occurred on the server"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update an outcome",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "description": "Organization ID",
            "example": "a5f3c6e1-9d20-4f7b-8e31-d09a2b63c184",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "description": "Workspace ID",
            "example": "c0e195d9-b918-4a3a-bd8b-f730361d044f",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "outcomeId",
            "required": true,
            "description": "Outcome ID",
            "example": "7b9e5d2c-f314-48a9-be56-9843a2f6c019",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOutcomePayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/OutcomeWithRelationships"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "description": "Response containing a single outcome"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "INVALID_REQUEST"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "One or more fields are invalid"
                        },
                        "fields": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "List of field names that are missing or invalid",
                          "example": [
                            "title",
                            "description"
                          ]
                        },
                        "validationErrors": {
                          "type": "object",
                          "additionalProperties": {},
                          "description": "Detailed validation error information for each invalid field",
                          "example": {
                            "invalidFields": {
                              "title": {
                                "type": "too_small",
                                "message": "Title must be at least 3 characters long",
                                "path": [
                                  "title"
                                ]
                              },
                              "deadline": {
                                "type": "invalid_date",
                                "message": "Deadline must be a valid date in the future",
                                "path": [
                                  "deadline"
                                ]
                              }
                            }
                          }
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Bad Request - Invalid input parameters or missing required fields"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "User is unauthenticated"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Unauthorized - Missing or invalid authentication token"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "User is unauthorised"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Forbidden - Insufficient permissions to access this resource"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Outcome does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "NOT_FOUND"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "The requested resource was not found"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Not Found - The requested resource does not exist"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "INTERNAL_SERVER_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "An unexpected error occurred on the server"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Internal Server Error - An unexpected error occurred on the server"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an outcome",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "description": "Organization ID",
            "example": "a5f3c6e1-9d20-4f7b-8e31-d09a2b63c184",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "description": "Workspace ID",
            "example": "c0e195d9-b918-4a3a-bd8b-f730361d044f",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "outcomeId",
            "required": true,
            "description": "Outcome ID",
            "example": "7b9e5d2c-f314-48a9-be56-9843a2f6c019",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Success message",
                          "example": "Outcome deleted successfully"
                        }
                      },
                      "required": [
                        "message"
                      ],
                      "description": "Success message data"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "description": "Response containing a success message"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "User is unauthenticated"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Unauthorized - Missing or invalid authentication token"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "User is unauthorised"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Forbidden - Insufficient permissions to access this resource"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Outcome does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "NOT_FOUND"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "The requested resource was not found"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Not Found - The requested resource does not exist"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "INTERNAL_SERVER_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "An unexpected error occurred on the server"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Internal Server Error - An unexpected error occurred on the server"
                }
              }
            }
          }
        }
      }
    },
    "/onboard": {
      "post": {
        "summary": "Create a new organization with workspace and outcomes",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OnboardingPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Organization, workspace, and outcomes created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "409": {
            "description": "Organization name already exists"
          }
        }
      }
    },
    "/organisations/{orgId}/onboard": {
      "put": {
        "summary": "Update an existing organization, recreate workspace and outcomes",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "description": "Organization ID",
            "example": "a5f3c6e1-9d20-4f7b-8e31-d09a2b63c184",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OnboardingUpdatePayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Organization updated, workspace and outcomes recreated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "404": {
            "description": "Organization not found"
          }
        }
      }
    },
    "/organisations/{orgId}/workspaces/{workspaceId}/onboarding": {
      "post": {
        "summary": "Process business description and knowledge to create workspace details, outcomes, opportunities, and solutions",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "description": "Organization ID",
            "example": "a5f3c6e1-9d20-4f7b-8e31-d09a2b63c184",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "description": "Workspace ID",
            "example": "b7e2d5a9-3c18-4e6f-9a42-f8d1c7b5e3a2",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OnboardingV2Payload"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Request accepted, processing started"
          },
          "400": {
            "description": "Invalid request body"
          },
          "404": {
            "description": "One or more knowledge entities not found"
          }
        }
      }
    },
    "/organisations/{orgId}/workspaces/{workspaceId}/feedback": {
      "post": {
        "summary": "Create new feedback",
        "description": "Creates a new feedback item in the specified workspace",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "description": "Organization ID",
            "example": "a5f3c6e1-9d20-4f7b-8e31-d09a2b63c184",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "description": "Workspace ID",
            "example": "c0e195d9-b918-4a3a-bd8b-f730361d044f",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "Feedback",
                      "Bug",
                      "FeatureRequest"
                    ],
                    "description": "Type of feedback",
                    "example": "Feedback"
                  },
                  "source": {
                    "type": "string",
                    "description": "Source of the feedback",
                    "example": "Customer Interview"
                  },
                  "title": {
                    "type": "string",
                    "description": "Title of the feedback",
                    "example": "Dashboard UX Improvements"
                  },
                  "description": {
                    "type": "string",
                    "description": "Description of the feedback",
                    "example": "The dashboard could use better data visualization"
                  },
                  "feedback": {
                    "type": "string",
                    "description": "Detailed feedback content",
                    "example": "I found the dashboard charts difficult to understand at first glance..."
                  },
                  "ownerId": {
                    "type": "string",
                    "description": "ID of the feedback owner",
                    "example": "d4e71c2b-a498-42af-b7f5-69de06a0d7c4"
                  },
                  "organisationId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "workspaceId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "seen": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "type",
                  "source",
                  "title",
                  "description",
                  "feedback",
                  "organisationId",
                  "workspaceId"
                ],
                "description": "Feedback data from a user"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Feedback created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "Feedback data",
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/FeedbackWithRelationships"
                        }
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "description": "Response containing a single feedback item"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "INVALID_REQUEST"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "One or more fields are invalid"
                        },
                        "fields": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "List of field names that are missing or invalid",
                          "example": [
                            "title",
                            "description"
                          ]
                        },
                        "validationErrors": {
                          "type": "object",
                          "additionalProperties": {},
                          "description": "Detailed validation error information for each invalid field",
                          "example": {
                            "invalidFields": {
                              "title": {
                                "type": "too_small",
                                "message": "Title must be at least 3 characters long",
                                "path": [
                                  "title"
                                ]
                              },
                              "deadline": {
                                "type": "invalid_date",
                                "message": "Deadline must be a valid date in the future",
                                "path": [
                                  "deadline"
                                ]
                              }
                            }
                          }
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Bad Request - Invalid input parameters or missing required fields"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "User is unauthenticated"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Unauthorized - Missing or invalid authentication token"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "User is unauthorised"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Forbidden - Insufficient permissions to access this resource"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "INTERNAL_SERVER_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "An unexpected error occurred on the server"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Internal Server Error - An unexpected error occurred on the server"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List feedback",
        "description": "Lists all feedback in the specified workspace",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "description": "Organization ID",
            "example": "a5f3c6e1-9d20-4f7b-8e31-d09a2b63c184",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "description": "Workspace ID",
            "example": "c0e195d9-b918-4a3a-bd8b-f730361d044f",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeedbackArrayResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "User is unauthenticated"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Unauthorized - Missing or invalid authentication token"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "User is unauthorised"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Forbidden - Insufficient permissions to access this resource"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "INTERNAL_SERVER_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "An unexpected error occurred on the server"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Internal Server Error - An unexpected error occurred on the server"
                }
              }
            }
          }
        }
      }
    },
    "/organisations/{orgId}/workspaces/{workspaceId}/feedback/{feedbackId}": {
      "get": {
        "summary": "Get feedback by ID",
        "description": "Retrieves a specific feedback by ID",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "description": "Organization ID",
            "example": "a5f3c6e1-9d20-4f7b-8e31-d09a2b63c184",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "description": "Workspace ID",
            "example": "c0e195d9-b918-4a3a-bd8b-f730361d044f",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "feedbackId",
            "required": true,
            "description": "Feedback ID",
            "example": "d4e71c2b-a498-42af-b7f5-69de06a0d7c4",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/FeedbackRelationshipsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "Feedback data",
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/FeedbackWithRelationships"
                        }
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "description": "Response containing a single feedback item"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "User is unauthenticated"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Unauthorized - Missing or invalid authentication token"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "User is unauthorised"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Forbidden - Insufficient permissions to access this resource"
                }
              }
            }
          },
          "404": {
            "description": "Feedback not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "NOT_FOUND"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "The requested resource was not found"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Not Found - The requested resource does not exist"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "INTERNAL_SERVER_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "An unexpected error occurred on the server"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Internal Server Error - An unexpected error occurred on the server"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete feedback",
        "description": "Deletes a specific feedback by ID",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "description": "Organization ID",
            "example": "a5f3c6e1-9d20-4f7b-8e31-d09a2b63c184",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "description": "Workspace ID",
            "example": "c0e195d9-b918-4a3a-bd8b-f730361d044f",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "feedbackId",
            "required": true,
            "description": "Feedback ID",
            "example": "d4e71c2b-a498-42af-b7f5-69de06a0d7c4",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Feedback deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Success message",
                          "example": "Feedback deleted successfully"
                        }
                      },
                      "required": [
                        "message"
                      ],
                      "description": "Success message data"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "description": "Response containing a success message"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "User is unauthenticated"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Unauthorized - Missing or invalid authentication token"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "User is unauthorised"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Forbidden - Insufficient permissions to access this resource"
                }
              }
            }
          },
          "404": {
            "description": "Feedback not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "NOT_FOUND"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "The requested resource was not found"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Not Found - The requested resource does not exist"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "INTERNAL_SERVER_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "An unexpected error occurred on the server"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Internal Server Error - An unexpected error occurred on the server"
                }
              }
            }
          }
        }
      }
    },
    "/organisations/{orgId}/workspaces/{workspaceId}/mock-feedback": {
      "post": {
        "summary": "Generate mock feedback",
        "description": "Creates mock feedback data for testing and development purposes",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "description": "Organization ID",
            "example": "a5f3c6e1-9d20-4f7b-8e31-d09a2b63c184",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "description": "Workspace ID",
            "example": "c0e195d9-b918-4a3a-bd8b-f730361d044f",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mock feedback created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/MockFeedbackResponse"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "User is unauthenticated"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Unauthorized - Missing or invalid authentication token"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "User is unauthorised"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Forbidden - Insufficient permissions to access this resource"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "INTERNAL_SERVER_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "An unexpected error occurred on the server"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Internal Server Error - An unexpected error occurred on the server"
                }
              }
            }
          }
        }
      }
    },
    "/organisations/{orgId}/workspaces/{workspaceId}/feedback/process": {
      "post": {
        "summary": "Process Unprocessed Feedback",
        "description": "Processes unprocessed feedback in the specified workspace",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "description": "Organization ID",
            "example": "a5f3c6e1-9d20-4f7b-8e31-d09a2b63c184",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "description": "Workspace ID",
            "example": "c0e195d9-b918-4a3a-bd8b-f730361d044f",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Unprocessed feedback processed successfully"
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "User is unauthenticated"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Unauthorized - Missing or invalid authentication token"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "User is unauthorised"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Forbidden - Insufficient permissions to access this resource"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "INTERNAL_SERVER_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "An unexpected error occurred on the server"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Internal Server Error - An unexpected error occurred on the server"
                }
              }
            }
          }
        }
      }
    },
    "/organisations/{orgId}/workspaces/{workspaceId}/opportunities": {
      "post": {
        "summary": "Create new opportunity",
        "description": "Creates a new opportunity in the specified workspace",
        "security": [
          {
            "bearerAuth": [],
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "description": "Organization ID",
            "example": "a5f3c6e1-9d20-4f7b-8e31-d09a2b63c184",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "description": "Workspace ID",
            "example": "c0e195d9-b918-4a3a-bd8b-f730361d044f",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOpportunityPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Opportunity created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpportunityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "INVALID_REQUEST"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "One or more fields are invalid"
                        },
                        "fields": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "List of field names that are missing or invalid",
                          "example": [
                            "title",
                            "description"
                          ]
                        },
                        "validationErrors": {
                          "type": "object",
                          "additionalProperties": {},
                          "description": "Detailed validation error information for each invalid field",
                          "example": {
                            "invalidFields": {
                              "title": {
                                "type": "too_small",
                                "message": "Title must be at least 3 characters long",
                                "path": [
                                  "title"
                                ]
                              },
                              "deadline": {
                                "type": "invalid_date",
                                "message": "Deadline must be a valid date in the future",
                                "path": [
                                  "deadline"
                                ]
                              }
                            }
                          }
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Bad Request - Invalid input parameters or missing required fields"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "User is unauthenticated"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Unauthorized - Missing or invalid authentication token"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "User is unauthorised"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Forbidden - Insufficient permissions to access this resource"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit or entity limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "TOO_MANY_REQUESTS"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "Rate limit exceeded"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Too Many Requests - Rate limit exceeded"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "INTERNAL_SERVER_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "An unexpected error occurred on the server"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Internal Server Error - An unexpected error occurred on the server"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List opportunities",
        "description": "Lists all opportunities in the specified workspace",
        "security": [
          {
            "bearerAuth": [],
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "description": "Organization ID",
            "example": "a5f3c6e1-9d20-4f7b-8e31-d09a2b63c184",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "description": "Workspace ID",
            "example": "c0e195d9-b918-4a3a-bd8b-f730361d044f",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpportunityArrayResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "User is unauthenticated"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Unauthorized - Missing or invalid authentication token"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "UNAUTHORISED_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "User is unauthorised"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Forbidden - Insufficient permissions to access this resource"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Error code identifier",
                          "example": "INTERNAL_SERVER_ERROR"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable error description",
                          "example": "An unexpected error occurred on the server"
                        }
                      },
                      "required": [
                        "code",
                        "description"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Internal Server Error - An unexpected error occurred on the server"
                }
              }
            }
          }
        }
      }
    },
    "/organisations/{orgId}/workspaces/{workspaceId}/opportunities/{opportunityId}": {
      "get": {
        "summary": "Get opportunity by ID",
        "description": "Retrieves a specific opportunity by ID",
        "security": [
          {
            "bearerAuth": [],
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
[...]
